*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
    /* make parent as grid container */
    display: grid;
    /* decide no of rows and columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.child1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #ffffff;
}

.child2{
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    background-color: #f7f8f9;
}

.child3{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #ee5637;
}

.child4{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    background-color: #ffffff;
}

.child5{
    grid-column: 4 / 5;
    grid-row: 2 / 4;
    background-color: #8f76bc;
}

.child6{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: #f7f8f9;
}

.child7{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    background-color: #93b6b7;
}

.child1{
    display: flex;
    justify-content: space-around;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
    height: 100%;
    margin: auto;

}


.child1 img{
    height: 200px;
    width: 30%;
}

.child2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.child2 h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
}


.child3{
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    gap: 10px;
    color: white;
}

.child3 a{
    color: rgb(255, 255, 33);
}

.child3 img{
    width: 150px;
    height: 70px;
}

.child4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 100%;

}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    width: 40%;
    height: 100%;
}

.right{
    align-items: end;
    width: 40%;
}


.child4 img{
    width: 100px;
}

.child5{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
}

.child5 button{
    background-color: #fac848;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    border: 0 solid black;
    
}

.child5 h3{
    font-weight: bolder;

}

.child5 p{
    width: 80%;
}

.child5 img{
    width: 150px;
    border-radius: 50%;
}

.child6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.child6 img{
    width: 130px;
}

.child7{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    gap: 20px;
}

.child7 p{
    text-align: start;
    background-color: #ed684f;
    width: 90px;
    padding-left: 3px;
    margin: 10px;
}

.bottom{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.child7 img{
    width: 80%;
}