*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 80px;
    padding-top: 26px;
    padding-left: 100px;
    color: rgb(255, 0, 0);
    font-weight: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    height: 345px;
}

main h1{
    font-family: monospace;
    color: white;
    font-size: 50px;
    font-weight: 30;
    width: 700px;
    padding-left: 100px;
    padding-top: 90px
}

main p{
    color: white;
    padding-left: 100px;
    padding-top: 30px;
    width: 700px;
    font-size: medium;
}

main img{
    width: 300px;
    max-height: 300px;
}

footer{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: end;
    background-color: rgb(255, 0, 0);
}

.cards{
    display: flex;
    flex-direction: column;
    background-color: rgb(123, 0, 0);
    width: 505px;
    height: 350px;
}

.cards h4{
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 0;
    text-align: center;
    font-size: larger;
    font-weight: 400;
}

.cards p{
    padding: 40px;
}