*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-image: url("https://au.passenger-clothing.com/cdn/shop/articles/boone-bts-1-1688127366198.jpg?v=1694512880&width=1500");
    background-repeat: repeat-y;
    width: 100%;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav h1{
    width: 40%;
    text-align: center;
    margin: 10px;
}

nav button{
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 0 solid black;
    background-color: #ff9600;
    color: white;
}

main{
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}


.text1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
    width: 400px;
}

.text1 h1{
    width: 100px;
    margin-bottom: 20px;
}

.top img{
    width: 40%;
}


.bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.bottom h1{
    width: 30%;
}

.bottom img{
    width: 200px;
    border: 1px solid grey;
}

.images{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 5px;
}

.extra{
    display: flex;
    justify-content: left;
}

.extra img{
    margin-right: 3.5px;
}