*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif
}

nav{
    background-color: rgba(143, 143, 143, 0.288);
}

.top{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.top h1{
    font-size: 4rem;
    font-weight: 100;
}

.top p{
    margin-top: 15px;
}

.top button{
    width: 130px;
    height: 35px;
    margin-top: 10px;
    border: 0 solid black;
    border-radius: 5px;
    background-color: rgb(60, 60, 253);
    color: white;
}

main{
    margin: auto;
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding: 30px 0;
}

main h2{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 0;
}
main button{
    width: 130px;
    height: 35px;
    margin-top: 10px;
    border: 0 solid black;
    border-radius: 5px;
    background-color: rgb(141, 141, 141);
    color: white;
}

button:hover{
    color: rgba(0, 0, 0, 0.877);

    box-shadow:1px 1px 5px 3px rgba(20, 190, 220, 0.543);
}
.headding{
    width: 30%;
}

hr{
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

footer{
    width: 70%;
    margin: auto;
}
footer p{
    margin-top: 10px;
}